*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
}

header .navbar-nav .nav-link {
    color: #000000;
    margin-right: 10px;
}

header .navbar-nav .nav-link:hover {
    color: #444444;
}

header .navbar-text {
    font-weight: 500;
    color: #000000;
}

.nav-button{
border-color: white;
}
.ml-5{
    margin-left: 5px !important;
}
.header-search{
    padding: 5px 10px;
    border-radius: 10px;
}
.searchIcon{
       position: absolute;
    top: 11px;
    right: 10px;
    color: black;
}
.search-bar{
    position: relative;
}

.loginNavItems {
    display: flex;
    align-items: center;
}